# dependencies
/node_modules
/.pnpm-store

# next
/.next

# build artifacts
/tsconfig.tsbuildinfo

# system files
.DS_Store

# tests
/coverage
/playwright-report
/test-results

# docs
/docs

# env
.env
.env.*
!.env.example
